In [1]:
import numpy as np
import pandas as pd

In [36]:
data = pd.read_csv('/Users/dipeshkumar/Downloads/play_tennis.csv')
data.drop(columns=['day'],inplace=True)
data.head()

    outlook  temp humidity    wind play
0     Sunny   Hot     High    Weak   No
1     Sunny   Hot     High  Strong   No
2  Overcast   Hot     High    Weak  Yes
3      Rain  Mild     High    Weak  Yes
4      Rain  Cool   Normal    Weak  Yes

In [5]:
data['play'].value_counts()

Yes    9
No     5
Name: play, dtype: int64

In [6]:
py = 9/14
pn = 5/14

In [8]:
py

0.6428571428571429

In [9]:
pn

0.35714285714285715

In [10]:
pd.crosstab(data['outlook'],data['play'])

play      No  Yes
outlook
Overcast   0    4
Rain       2    3
Sunny      3    2

In [11]:
p_overcast_n = 0
p_rain_n = 2/5
p_sunny_n = 3/5
p_overcast_y = 4/9
p_rain_y = 3/9
p_sunny_y = 2/9

In [12]:
pd.crosstab(data['temp'],data['play'])

play  No  Yes
temp
Cool   1    3
Hot    2    2
Mild   2    4

In [19]:
p_cool_n = 1/5
p_hot_n = 2/5
p_mild_n = 2/5

p_cool_y = 3/9
p_hot_y = 2/9
p_mild_y = 4/9

In [14]:
pd.crosstab(data['humidity'],data['play'])

play      No  Yes
humidity
High       4    3
Normal     1    6

In [15]:
p_high_n = 4/5
p_normal_n = 1/5

p_high_y = 3/9
p_normal_y = 6/9

In [16]:
pd.crosstab(data['wind'],data['play'])

play    No  Yes
wind
Strong   3    3
Weak     2    6

In [17]:
p_storng_n = 3/5
p_weak_n = 2/5

p_storng_y = 3/9
p_weak_y = 6/9

In [22]:
# for Outlook-sunny, temp-hot, humidity-high, wind-weak

Pyes = py*p_sunny_y*p_hot_y*p_high_y*p_weak_y

In [21]:
Pyes

0.010973936899862823

In [23]:
PNo = pn*p_sunny_n*p_hot_n*p_high_n*p_weak_n

In [24]:
PNo

0.02742857142857143

In [25]:
from sklearn.naive_bayes import GaussianNB

In [26]:
model = GaussianNB()